.searchBlock {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  margin: 0 0 38px;
}

@media (min-width: 1024px) {
  .searchBlock {
    padding: 0;
    margin: 0 0 auto;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    order: 3;
  }

}
