.menu {
  position: absolute;
  top: 17px;
  right: 15px;
}

.menuBtn {
  width: 31px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
  border-radius: 31px;
  background-color: transparent;
  border: 0;
}

.menuBtn:active, .menuBtn:hover {
  background-color: rgba(51, 51, 51, 0.1);
}

@media (min-width: 1024px) {
  .menuBtn {    
    transform: none;
  }
}

/* .dropdown__list {
  background-color: bisque;
  right: 150px;
} */

.dropDownItem {
  min-width: 150px;  
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgba(255, 228, 196, 0.5);
}