.preview {
  height: 107px;
  width: 190px;
}

.previewImg {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

@media (max-width: 760px) {
  .preview {
    width: auto;
    max-width: 100%;
  }
}
