  .header {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
    padding: 40px;
  }

@media (min-width: 1540px) {
  .header {
    padding: 67px 0;
  }
}

@media (max-width: 600px) {
  .header {flex-flow: row wrap;}
}
